body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    display: inline-block;
    margin-bottom: 20px;
}

input[type="tel"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

